

{% extends 'base.html' %}
{% block content %}
<div class="card text-center mt-5 w-75 mx-auto" style="height: 450px; background-color: bisque;">
    <div class="my-auto">
      <h1>Simplify Your Day With </h1>
      <h1 class="text-danger">DoneList</h1>
    </div>
    <div class="">
      
      <h3 class="card-text mb-5">Organize tasks, manage projects, and boost your productivity with our intuitive and powerful todo application.</h3>
      <a href="#" class="btn btn-primary me-3 my-4">Start now</a>
      <a href="#" class="btn btn-primary  my-4">Learn More</a>
    </div>
    <div class="text-body-secondary">
      
    </div> 
  </div>
{% endblock %}